body {
  background-color: lightgray;
}

p{
  font-size:20px;
}

#listOfVariables {
  margin-left: 20px;
}

#createBarchartButton{
  margin-left: 20px;
}

.waveButton{
  margin-left: 20px;
  margin-right: 10px;
}

.waveContainer{
  margin-bottom: 50px;
}

.svgText{
  pointer-events:none
}

.header{
  margin-left: 20px;
  align-items:center;
  width: 40%;
}

img.resize{
  width : 110%;
  height:auto;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.wrapper {
    /*background-color:;*/
    overflow: hidden; /* will contain if #first is longer than #second */
}
.first {
    width: 30%;
    float:left; /* add this */
}
.second {
    width: 25%;
    float: left;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
.third {
    overflow: hidden;
}